body {
    background-color: rgb(232,229,226);
}

h2,
h3 {
    line-height: 1.4em;
    font-size: 1.4em;
    text-transform: uppercase;
}

h2 {
    font-weight: normal;
    margin: 0px;
}

h3 {
    margin: 0px 0px 10px;
}

.navbar-inner {
    margin-bottom: 10px;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
            border-radius: 0px;
}

.row {
    text-align: center;
}

input.input {
    font-size: 1.2em;
    padding: 8px 12px;
    margin: 12px 0px;
}

.btn-pool-it {
    display: block;
    padding: 8px 70px;
    font-size: 1.3em;
    text-transform: uppercase;
    margin: 0px auto;
    border-color: #c23e57;
    background: #c23e57;
    background: -webkit-linear-gradient(top, #c23e57 0%,#a43b4f 100%);
    background:    -moz-linear-gradient(top, #c23e57 0%, #a43b4f 100%);
    background:     -ms-linear-gradient(top, #c23e57 0%,#a43b4f 100%);
    background:      -o-linear-gradient(top, #c23e57 0%,#a43b4f 100%);
    background:        -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c23e57), color-stop(100%,#a43b4f));
    background:         linear-gradient(to bottom, #c23e57 0%,#a43b4f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c23e57', endColorstr='#a43b4f',GradientType=0 );
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3),0 3px 4px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 0 2px rgba(0,0,0,0.3),0 3px 4px rgba(0,0,0,0.2);
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.3),0 3px 4px rgba(0, 0, 0, 0.2);
}

.btn-pool-it:hover {
    background-color: #c23e57;
    background-position: 0px;
}


.custom-tweet-button {
    padding: 2px 5px 2px 20px;
    background: url('../img/tweet.png') 1px center no-repeat;
    text-indent: -9999px;
    width: 10px;
}


.custom-facebook-button {
    padding: 2px 5px 2px 10px;
    background: url('../img/FBicon.png') 10px center no-repeat;
    text-indent: -9999px;
    width: 20px;   
}

.poold-logo {
    padding: 2px 5px 2px 10px;
    background: url('../img/logo.png') 5px center no-repeat;
    text-indent: -9999px;
    width: 47px;

}

.navbar .brand {
  float: left;
  display: block;
  padding: 10px 10px 10px;
  margin-left: -20px;
  font-size: 15px;
  font-weight: 100;
  color: #777777;
  text-shadow: 0 0px 0 #ffffff;
}

.coming-soon {
    flost: left;
    font-size: 10px;
    padding: 1px 1px 1px;
}

@media (max-width: 768px) {
    .navbar-inner {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .navbar-inner {
        margin-bottom: 50px;
    }

    input.input {
        margin: 20px 0px;
    }
}

@media (min-width: 480px) {
    img {
        max-width: 360px;
    }
}

.progress {
  overflow: hidden;
  height: 15px;
  margin-bottom: 5px;
  max-width: 360px;
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}

.progress-info .bar,
.progress .bar-info {
  border-color: #c23e57;
    background: #c23e57;
    background: -webkit-linear-gradient(top, #c23e57 0%,#a43b4f 100%);
    background:    -moz-linear-gradient(top, #c23e57 0%, #a43b4f 100%);
    background:     -ms-linear-gradient(top, #c23e57 0%,#a43b4f 100%);
    background:      -o-linear-gradient(top, #c23e57 0%,#a43b4f 100%);
    background:        -webkit-gradient(linear, left top, left bottom, color-stop(0%,#c23e57), color-stop(100%,#a43b4f));
    background:         linear-gradient(to bottom, #c23e57 0%,#a43b4f 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c23e57', endColorstr='#a43b4f',GradientType=0 );
    -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.3),0 3px 4px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 0 2px rgba(0,0,0,0.3),0 3px 4px rgba(0,0,0,0.2);
            box-shadow: 0 0 2px rgba(0, 0, 0, 0.3),0 3px 4px rgba(0, 0, 0, 0.2);
}
